.imgContainer, .contentContainer {
    height: 100vh;
    width: 100%;
}


.imgContainer {
    overflow: hidden;
    padding: 1em;
}
.hpImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.contentContainer {
    background: var(--light-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8% 5%;
}
.contentContainer__top {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.titleContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}
.colorsContainer {
    width: fit-content;
    height: 100%;
    display: flex;
}
.colorItem {
    width: 5em;
    height: 5em;
    clip-path: circle();
}

.title {
    font-family: var(--geist-rg-font);
    font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
}

.description {
    font-family: var(--geist-rg-font);
    font-size: clamp(0.8rem, 0.364rem + 2.18vw, 2rem);
    line-height: 1.2;
    text-wrap: balance;
}

.priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    font-family: var(--geist-rg-font);
    white-space: nowrap;
    font-size: clamp(0.8rem, 0.364rem + 2.18vw, 2rem)
}