.tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    background: var(--dark-gray);
    flex-basis: 25%;
    color: var(--light-bg);
    overflow: hidden;
}

.tile:hover {
    .tileImgContainer__img {
        transform: scale(1.05);
    }
}

.tile__imgContainer {
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
    justify-self: flex-start;
}
.tileImgContainer__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: all 0.4s ease-out;
}

.tile__titleContainer {
    position: absolute;
    bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile__title {
    font-family: var(--geist-bold-font);
    font-size: clamp(1rem, 0.778rem + 1.11vw, 3rem);
}