.glowLink {
    position: relative;
    padding: 0.9em 4em;
    color: var(--light-bg);
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: var(--two-border-radius);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.glowLink::before, .glowLink::after {
    content: "";
    width: 106%;
    height: 106%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: var(--two-border-radius);
    background: conic-gradient(from var(--angle), transparent 60%, var(--pink));
    animation: 5s spin linear infinite;
    z-index: -0.5;
    padding: 3px;
}

.glowLink::before {
    filter: blur(1rem);
    opacity: 0.2;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.glowLink__inner {
    border-radius: var(--two-border-radius);
    background-color: var(--dark-text);
    border: 1px solid #383838;
    z-index: 1;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}