.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0.8em 2em;
    backdrop-filter: blur(10px);
    mix-blend-mode: difference;
}

.logoWrapper{
    color: white;
}
.logo {
    width: fit-content;
    height: 48px;
    color: white;
}

.top-menu-list {
    display: flex;
    gap: 1em;
    color: var(--light-bg);
}
.top-menu-list__item, .top-menu-list__item a {
    color: var(--light-bg) !important;
    font-size: 1.2rem
}
.top-menu-list__item {
    position: relative;
    width: fit-content;
}
.top-menu-list__item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -0.2em;
    background: var(--pink);
    transition: all 0.4s ease-in-out;
}
.top-menu-list__item.active::after, .top-menu-list__item:hover::after {
    width: 100%;
}
