#container3D {
    position: fixed;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.container {
    min-height: 100vh;
    width: 100%;
}


.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 1em 2em;
    backdrop-filter: blur(10px);
    mix-blend-mode: difference;
}
.logo {
    color: var(--light-bg);
}

.top-menu-list {
    display: flex;
    gap: 1em;
    color: var(--light-bg);
}


.hero-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,
    var(--dark-text) 48%,
    rgba(var(--pink-rgb)) 52%, /* Постепенное исчезновение верхнего цвета до прозрачности */
    var(--light-bg) 56%);    /* Конец нижнего цвета */
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
}
.hero-text__top, .hero-text__center, .hero-text__bottom {
    font-family: var(--geist-bold-font);
    font-size: 18rem;
    line-height: 0.7;
}
.hero-text__top {
    color: var(--light-bg);
}
.hero-text__center {
    color: var(--pink);
}
.hero-text__bottom {
    color: var(--dark-text);
}

.hero-button-container {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

.hero-subtitle {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    translate: -50% 0;
    --font-size: clamp(1.8rem, 1.395rem + 2.03vw, 3.8rem);
    font-size: var(--font-size);
    height: var(--font-size);
    overflow: hidden;
}


.about-container {
    display: flex;
    justify-content: flex-end;
    padding: 80vh 5% 50vh 5%;
}
.about-text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
}
.about-title {
    color: var(--dark-text);
    font-size: 8rem;
    font-family: var(--geist-bold-font);
}
.about-text {
    width: 90%;
    font-size: 3rem;
    text-align: right;
    text-wrap: balance;
}


.transition-content-container {
    height: 100vh;
    background: var(--dark-text);
    position: relative;
    overflow: hidden;
}

.transition-img-container {
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
}
.transition-img {
    width: 95%;
    height: 100%;
    object-fit: contain;
}

.pink-line {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    z-index: 10;
    background: var(--dark-text);
}
.pink-line__item {
    background: linear-gradient(to right, var(--pink), rgba(var(--pink-rgb), 0.8), rgba(var(--pink-rgb), 0.5));
    height: 100%;
    flex-basis: 100%;
}


.shop-container {
    height: 100vh;
    width: 100%;
    display: flex;
}
.shop-container__left, .shop-container__right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.shop-container-left__list, .shop-container-right__list {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.buy-container {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
.buy-text {
    color: var(--light-bg) !important;
    font-size: clamp(0.8rem, 0.578rem + 1.11vw, 2.8rem);
    position: relative;
}
.buy-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    height: 2px;
    width: 0;
    background-color: var(--pink);
    transition: all 0.5s ease-in-out;
}
.buy-text:hover::after {
    width: 100%;
}
