#container3D {
    position: fixed;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.container {
    min-height: 100vh;
    width: 100%;
}


.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 1em 2em;
    backdrop-filter: blur(10px);
    mix-blend-mode: difference;
}
.logo {
    color: var(--light-bg);
}

.top-menu-list {
    display: flex;
    gap: 1em;
    color: var(--light-bg);
}


.hero-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,
    var(--dark-text) 48%,
    rgba(var(--pink-rgb)) 52%, /* Постепенное исчезновение верхнего цвета до прозрачности */
    var(--light-bg) 56%);    /* Конец нижнего цвета */
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
}
.hero-text__top, .hero-text__center, .hero-text__bottom {
    font-family: var(--geist-bold-font);
    font-size: 18rem;
    line-height: 0.7;
}
.hero-text__top {
    color: var(--light-bg);
}
.hero-text__center {
    color: var(--pink);
}
.hero-text__bottom {
    color: var(--dark-text);
}

.hero-button-container {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

.hero-subtitle {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    translate: -50% 0;
    font-size: clamp(1.8rem, 1.395rem + 2.03vw, 3.8rem);
}


.about-container {
    position: relative;
    height: 120vh;
}
.about-text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: absolute;
    right: 0;
    top: 30%;
}
.about-title {
    color: var(--dark-text);
    font-size: 8rem;
    font-family: var(--geist-bold-font);
}
.about-text {
    width: 50%;
    font-size: 2rem;
    text-align: right;
    text-wrap: balance;
}


.headphones-container {
    min-height: 120vh;
    padding-top: 20vh;
    background: linear-gradient(to bottom,
        var(--light-bg) 0,
        var(--pink) 10vh,
        var(--dark-text) 15vh);
}

.headphones-content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0;
    color: var(--light-bg);
}

.headphones-container__top {
    font-size: 4rem;
    font-family: var(--geist-bold-font);
}

.headphones-container__center-wrapper {
    height: 40%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.headphones-container-center-wrapper__blur {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
        var(--dark-text) 5%,
        rgba(72, 72, 72, 0.5) 15%, /* Полупрозрачный серый */
        transparent 50%,
        rgba(72, 72, 72, 0.5) 85%, /* Полупрозрачный серый */
        var(--dark-text) 95%
    );
    z-index: 1;
    opacity: 0.6;
}
.headphones-container__center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 1.5em;
    flex-wrap: nowrap;
    gap: 1em;
    position: relative;
}
.headphones-container-center__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-shrink: 0;
}

.headphones-container__bottom {
    width: 50%;
    text-align: center;
    font-size: 2rem;
}


.transition-content-container {
    background: var(--dark-text);
    padding: 20vh 0 5vh 0;
    position: relative;
    z-index: 30;
}

.transition-img-container {
    height: 100vh;
    width: 100%;
}
.transition-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pink-line {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -2vh;
}
.pink-line__item {
    background: linear-gradient(to right, var(--pink), rgba(var(--pink-rgb), 0.8), rgba(var(--pink-rgb), 0.5));
    height: 100%;
    flex-basis: 100%;
}

.contacts-container {
    background-color: var(--dark-text);
    display: flex;
    justify-content: space-between;
    padding: 10vh 0 2vh 0;
    align-items: center;
    overflow: hidden;
}
.contacts-container__center {
    width: 60%;
    height: 90vh;
    flex-shrink: 0;
    background-color: var(--light-bg);
    border-radius: var(--border-radius);
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts-container-center__logo-container {
    font-family: var(--geist-bold-font);
    font-size: 2.2rem;
}
.contacts-container-center__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.contacts-container-center-content-container__title {
    font-size: 2rem;
}
.contacts-container-center-content-container__button {
    border-radius: var(--two-border-radius);
    background-color: var(--pink);
    padding: 1.5em 3em;
    color: var(--dark-text) !important;
}


.contacts-container__left, .contacts-container__right {
    background-color: var(--pink);
    width: 20%;
    height: 100vh;
    flex-shrink: 1;
    border-radius: var(--two-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-container__left {
    margin-left: -2%
}
.contacts-container__right {
    margin-right: -2%
}

.contacts-container__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.contacts-container-list__title {
    font-family: var(--geist-bold-font);
    font-size: 1.8rem;
    color: var(--dark-text);
}
.contacts-container-list__item {
    font-size: 1.2rem;
}
