.benefits-container {
    height: 120vh;
    padding: 20vh 0;
    background: linear-gradient(to bottom,
    var(--light-bg) 0,
    var(--pink) 10vh,
    var(--dark-text) 15vh);
    display: flex;
    align-items: center;
}

.benefits-content-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.benefits-container-top__text {
    font-size: 4rem;
    font-family: var(--geist-bold-font);
    color: var(--light-bg);
}

.benefits-container__center {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    padding: 0 2em;
    flex-wrap: nowrap;
    gap: 5em;
}